#  지진 데이터 

    https://www.kaggle.com/allunia/shaking-earth

In [1]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
import sys

In [8]:
if sys.platform == 'win32' : 
    path = r"D:\data\LANL-Earthquake-Prediction/train.csv"
else :
    path = "../../data/earthquake/train.csv"

## 10,000,000 건만 읽어오기

In [9]:
train = pd.read_csv(path, nrows=10000000,
                    dtype={'acoustic_data': np.int16, 'time_to_failure': np.float64})
train.head(5)

   acoustic_data  time_to_failure
0             12           1.4691
1              6           1.4691
2              8           1.4691
3              5           1.4691
4              8           1.4691

In [10]:
train.shape

(10000000, 2)

## 칼럼명 변경

In [11]:
train.rename({"acoustic_data": "signal", "time_to_failure": "quaketime"}, axis="columns", inplace=True)
train.head(5)

   signal  quaketime
0      12     1.4691
1       6     1.4691
2       8     1.4691
3       5     1.4691
4       8     1.4691

In [12]:
for n in range(5):
    print(train.quaketime.values[n])

1.4690999832
1.4690999821000001
1.4690999809999998
1.4690999799000002
1.4690999787999999

In [13]:
train.describe()

             signal     quaketime
count  1.000000e+07  1.000000e+07
mean   4.502072e+00  5.183598e+00
std    1.780707e+01  5.091286e+00
min   -4.621000e+03  7.954798e-04
25%    2.000000e+00  6.498971e-01
50%    4.000000e+00  1.298899e+00
75%    7.000000e+00  1.089170e+01
max    3.252000e+03  1.154080e+01