## read_csv 매개변수 설명 

https://honingds.com/blog/pandas-read_csv/

In [1]:
import pandas as pd

## csv 파일 읽기

In [2]:
df = pd.read_csv("./submission_.csv")

In [3]:
df.head()

       seg_id  time_to_failure
0  seg_00030f         2.742892
1  seg_0012b5         5.874029
2  seg_00184e         5.353887
3  seg_003339         8.379327
4  seg_0042cc         6.927336

In [4]:
df.shape

(2624, 2)

## 분리자를 통해서 텍스트 파일 읽기

In [5]:
%%writefile aaa.txt
가을|나을|사울|
봄|초봄|늦봄|
여름|초여름|늦여름|

Writing aaa.txt

In [8]:
df_txt = pd.read_csv("./aaa.txt", sep="|")

In [9]:
df_txt

   가을   나을   사울  Unnamed: 3
0   봄   초봄   늦봄         NaN
1  여름  초여름  늦여름         NaN